import(Seurat)
import(ggplot2)
import(grid)
import(gridExtra)
import(RColorBrewer)
import(reshape2)
import(Matrix)
import(SingleCellExperiment)
import(scater)
import(robustbase)
import(withr)
import(methods)
import(stats)
import(utils)
import(grDevices)
export(boxplot_n_genes)
export(boxplot_n_umis)
export(compute_percent_mito)
export(density_plot_complexity)
export(density_plot_mito_ratio)
export(density_plot_n_genes)
export(density_plot_n_umis)
export(dotplot_n_umis_genes_mito)
export(factor_resolution)
export(get_sample_IDs)
export(histogram_n_cells)
export(plot_basic_qc)
export(plot_highest_expressed)
export(prepare_so_merging)
export(prepare_so_merging_Seurat4)
export(qc_distri_plot)
export(read_samples_sheet)
export(scater_qc)
export(show_qc_plots)
export(so_version)
export(split_print_legend)
export(test_cell_cycle_effect)
export(two_groups_dimplot)
